/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #222;
  background: white;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
.nav li {
  padding: 5px 10px 10px 10px;
  
}
.nav a {
  transition: all .5s;
  color: white;
  text-transform: uppercase;
}
.nav a:hover {
  color: #F3DA00;
}

header {
  text-align: center;
  background: url('images/banner.png') no-repeat ;
  background-size: cover;
  overflow: hidden;
  padding-top: 50px;

}


.header-resume {
  text-align: center;
  background: #fff;
  background-size: cover;
  overflow: hidden;
  padding-top: 50px;

}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: none;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}

.header-resume .profile-image:hover {
  transform: none;
}

.tag {
  background-color: #efefef;
  color: rgb(29, 29, 29);
  padding: 10px;
  border-radius: 0px;
  display: table;
  margin: 10px auto;
} 

.location {
  background-color: #F3DA00;
  color: rgb(29, 29, 29);
}


.resume-title {
  padding: 0px;
  border-radius: 0px;
  border: 6px solid #222;
  margin: 20px auto;
  margin-top: 100px;
  max-width: 500px;
  max-height: 200px;
} 

.resume-title h1 {
  color: rgb(29, 29, 29);
  padding: 0;
  text-transform: uppercase;
  font-size: 40px;

} 

.resume-title p {
  text-align: center;
  line-height: 0px;
  padding: 0;
  margin-bottom: 40px;
}


.resume-image {
  margin-top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
  transition: none;
}

.card {
  margin: 30px;
  padding: 60px 20px 60px 20px;
  max-width: 500px;
  text-align: center;
  background: #fff;
  border-bottom: 10px solid #fff;
  
  
}

.card:hover {
  border-color: #F3DA00;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 0px;
  display: inline-block;
  background: #F3DA00;
  color: rgb(29, 29, 29);
  padding: 10px;
  margin: 5px;
  font-size: 14px;
}

.skills li:nth-child(odd) {
  background: rgb(29, 29, 29);
  color: white;
}

.skills-image {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  transition: none;
}

.about {
  background: #F3DA00;
  margin: 100px 0 100px 0px;
  padding: 20px 40px 50px;
  text-align: center;
  height: auto;
}

.about h2 {
  margin-top: 50px;
  padding: 0 100px 0 100px;
  text-align: center;
  font-size: 40px;
}

.about P.blocktext {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  line-height: 25px;
  margin-bottom: 30px;
}


.experience {
  margin-left: 100px;
  text-align: left;
  max-width: 1024px;
  border-right: 3px solid #222;
  margin-right: 50px;
}

.education {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  max-width: 1024px;
}

.experience h2 {
  margin-top: 50px;
  padding: 5px 0;
  text-align: left;
  font-size: 30px;
  margin-right: 50px;
  text-transform: uppercase;
}

.education h2 {
  margin-top: 50px;
  padding: 5px 0;
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
}

.experience p {
  text-align: left;
  line-height: 2px;
  padding: 2px 0px;
  margin-right: 50px;
}

.education p {
  text-align: left;
  line-height: 2px;
  padding: 2px 0px;
}

.education a {
  text-align: left;
  line-height: 2px;
  padding: 2px 0px;
  color:#222;
}

.education a:hover {
  text-align: left;
  line-height: 2px;
  padding: 2px 0px;
  color:#F3DA00;
}


ul.lista-experience {
  text-align: left;
  padding: 5px 50px;
  margin-bottom: 50px;
}

ul.lista-education {
  text-align: left;
  padding: 5px 50px;
  margin-bottom: 50px;

}

.lista-experience li {
  color: rgb(29, 29, 29);
  padding: 5px 10px;
  text-align: left;
  
}

.lista-education li {
  color: rgb(29, 29, 29);
  padding: 5px 10px;
  
}

ul.skills-resume-experience {
  padding: 0;
  text-align: left;
  margin-bottom: 50px;
  margin-right: 50px;
}

ul.skills-resume-education {
  padding: 0;
  text-align: left;
  margin-bottom: 50px;
}

.skills-resume-experience li {
  border-radius: 0px;
  display: inline-block;
  background: #F3DA00;
  color: rgb(29, 29, 29);
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.skills-resume-education li {
  border-radius: 0px;
  display: inline-block;
  background: #F3DA00;
  color: rgb(29, 29, 29);
  padding: 5px 10px;
  margin: 5px;
  font-size: 14px;
}

.skills-resume-experience li:nth-child(odd) {
  background: rgb(29, 29, 29);
  color: white;
}

.skills-resume-education li:nth-child(odd) {
  background: rgb(29, 29, 29);
  color: white;
}


.gallery h2 {
  margin-top: 50px;
  padding: 0 100px 0 100px;
  text-align: center;
  font-size: 40px;
}

.gallery-image {
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border: 3px solid white;
  transition: none;
}


h3 {
  border-radius: 0px;
  display: inline-block;
  background: #F3DA00;
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-size: 16px;

}



.references {
  padding: 0px;
  border-radius: 0px;
  border: 6px solid #222;
  margin: 20px auto;
  margin-top: 100px;
  max-width: 300px;
  max-height: 200px;
} 

.references h1 {
  color: rgb(29, 29, 29);
  padding: 0;
  text-transform: uppercase;
  font-size: 30px;

} 

.references p {
  text-align: center;
  line-height: 0px;
  padding: 0;
  margin-bottom: 40px;
}



footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

